@charset "UTF-8";
body{
    background-image: linear-gradient(45deg, rgb(110, 110, 232),rgb(153, 153, 232),rgb(201, 201, 230));
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    color: rgb(3, 35, 36);
    background-image: linear-gradient(to bottom, rgb(110, 110, 232),rgb(153, 153, 232),rgb(201, 201, 230));
}
h2{
    color: rgb(0, 40, 41);
}
.Aprendendo{
    color: rgb(0, 40, 41);
}














