@charset "UTF-8";
body{
    background-color: rgb(201, 179, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(32, 50, 100);
    background-color: aquamarine;
}
h2{
    color: rgb(83, 83, 189);
}

p{
    text-align: justify;
}